            html,body{
              height:100%;
            }
        
            body{
              background-color:black;
              color:green;
              font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
              font-size:1em;
              display: flex;
              flex-direction: column; 
              overflow-y: auto;
            }
            
            body::before{
                background: white;
                width: 100%;
                height: 5%;
                content: " ";
                position: absolute;
                opacity: 0.15;
                animation-name: scanline;
                animation-iteration-count: infinite;
                animation-duration: 10s;
                animation-timing-function: linear;
                overflow: hidden;
            }

            #console::after {
              content: " ";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(18, 16, 16, 0.1);
              opacity: 0;
              z-index: 2;
              pointer-events: none;
            }
            #console::before {
              content: " ";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
              z-index: 2;
              background-size: 100% 2px, 3px 100%;
              pointer-events: none;
            }

            #input,#console{
              display:inline-block;
              vertical-align:top;
              outline:none;
              border:none;
              background-color: rgba(0,0,0,0);
              line-height:1em;
              animation-name: tvflicker;
              animation-iteration-count: infinite;
              animation-duration: 1s;
              animation-timing-function: linear;
              animation-direction: alternate;
            }
            
            #input,textarea{
              height:100%;
              width:99%;
              color:green;
              resize: none;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              margin:0;
              padding:0;
              top:0;
            }
            
            em{
              font-weight:bold;
              font-style:italic;
            }
            
            .red{
              color:red !important;
            }
            
            .centered{
              text-align: center;
            }
            
            .centered #input{
              white-space: normal;
              text-align: justify;
              -moz-text-align-last: center; /* Firefox 12+ */
              text-align-last: center;
            }
            
            #explosion{
              animation-name: explosionAnimation;
              animation-iteration-count: infinite;
              animation-duration: 750ms;
              animation-timing-function: linear;
              animation-direction: alternate;
            }
            
            @keyframes explosionAnimation{
                from   {color: red;}
                to {color: inherit;}
            }
            
            @keyframes scanline{
                from{top:-5%;}
                to {top:95%;}
            }
            
            @keyframes tvflicker{
                from{text-shadow: 0.4389924193300864px 0 3px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px}
                to{text-shadow: 1px 0 3px rgba(0,30,255,0.5), -5px 0 5px rgba(255,0,80,0.3), 0 0 5px}
            }
            
            .glitch{font-family:Courier;animation:glitch1 3.5s infinite;position:relative;}.glitch::after,.glitch::before{content:attr(data-text);position:absolute;top:0;left:0;width:100%;height:100%}.glitch::after{color:#0F0;animation:glitch2 1.5s infinite alternate-reverse}.glitch::before{color:#f16f6f;animation:glitch3 2.5s infinite alternate-reverse}@keyframes glitch1{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:1}7%{transform:skew(-.5deg,-.9deg);opacity:.75}30%{transform:skew(.8deg,-.1deg);opacity:.75}55%{transform:skew(-1deg,.2deg);opacity:.75}75%{transform:skew(.4deg,1deg);opacity:.75}}@keyframes glitch2{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:.25}7%{transform:translate(-2px,-3px);opacity:.5}30%{transform:translate(-5px,-2px);opacity:.5}55%{transform:translate(-5px,-1px);opacity:.5}75%{transform:translate(-2px,-6px);opacity:.5}}@keyframes glitch3{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:.25}7%{transform:translate(2px,3px);opacity:.5}30%{transform:translate(5px,2px);opacity:.5}55%{transform:translate(5px,1px);opacity:.5}75%{transform:translate(2px,6px);opacity:.5}}
        